*{
    text-align: center;
}

h1{
    color:black;
    text-align: center;
}
button{
    color:#3F7CAC;
}
body{
background-color:beige ;
}
#heading1,#heading2{
text-align: center;
}
#form1{
    text-align: center;
    text-size-adjust: 30px;
    
}
#id101,#id102,#id103{
    font-size: 20px;
}
img {
    width: 100% ; /* Makes the image responsive */
width: 500;/* Sets a maximum width */
    height: 500; /* Maintains the aspect ratio */
    border: 2px solid #0f0000; /* Adds a border */
   /* border-radius: 10px;  Rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
    display: block; /* Removes inline spacing (useful for centering) */
    margin: 25px auto; /* Centers the image horizontally */
    
  }
  